body {
  font-family: verdana;
  background-image: linear-gradient(0deg,#ff0000 20%, #000000 90%);
  background-repeat: no-repeat;
  color: white;
}

a {
  text-decoration: none;
  color: #1B96BD;
  font-weight: 500;
  display: inline-block;
}

#container {
  margin: 0 10% 0 10%;
}

.cabecalho {
  background-color: black;
  opacity: 0.5;
  padding: 40px;
  font-size: 40px;
  position: relative;
}

li {
  text-decoration: none;
  display: inline;
  padding: 0 5px 0 5px;


}

figcaption {
  position: absolute;
}

figure {
  display: inline-block;
  border: 2px solid black;
  box-shadow: 2px 2px 5px black;
  padding:  5px 5px 150px 5px;
  position: relative;
}

.rodape {
  background-color: black;
  opacity: 0.7;
  padding: 50px;
  font-size: 30px

}
li:hover {
  width: 200px;
  height: 200px;
  background-color:red;
  transition-duration: 1s;

}
